:root {
  --main-font-family: "Nunito";
  --main-title-font-w: 700;
  --main-text-font-weight: 600;
  --main-another-font-family: "Roboto";
  --main--roboto-font-weight: 500;
  --main-black-title-color: #211f25;
  --main-white-text-color: #fff;
  --main-black-text-color: #3d3a41;
  --main-links-color: #ff007a;
  --main-news-bg-color: #f4fbff;
  --main-social-media-bg-color: #f4f4f4;
  --main-task-border-color: #f7f5ff;
  --main-opinion-bg-color: #fcfbff;
  --main-body-color: #fff;
  --main-footer-bg-color: #211f25;
  --main-news-item-bg-color: #fff;
}

/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin-regular.woff") format("woff");
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-v25-latin-600.woff2") format("woff2"), url("../fonts/nunito-v25-latin-600.woff") format("woff");
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v25-latin-700.woff2") format("woff2"), url("../fonts/nunito-v25-latin-700.woff") format("woff");
}
/* nunito-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v25-latin-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin-800.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
* {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: var(--main-font-family);
  margin: 0;
  overflow-x: hidden;
  background-color: var(--main-body-color);
}

.dark-mode {
  --main-black-title-color: #fff;
  --main-white-text-color: #fff;
  --main-black-text-color: #d6d6d6;
  --main-links-color: #ff94c7;
  --main-news-bg-color: #211f25;
  --main-social-media-bg-color: #f4f4f4;
  --main-task-border-color: #211f25;
  --main-opinion-bg-color: #211f25;
  --main-body-color: #000;
  --main-footer-bg-color: #000;
  --main-news-item-bg-color: #555;
}

.dark-mode .hero {
  background-image: url("/images/herobgdark.svg");
  background-repeat: no-repeat;
}

.dark-mode .site-article {
  background-image: linear-gradient(72.67deg, #1A1822 2.78%, #9040E3 173.27%), #6B50FF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background-image: url("/images/herobgmobile.svg");
  background-position: calc(50% + 37px) calc(50% - 47px);
  background-repeat: no-repeat;
  background-size: 877px 797px;
}

.hero__header {
  padding: 35px 0;
}

.hero__header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__dark-btn {
  display: flex;
  order: -1;
  width: 42px;
  height: 42px;
  border: none;
  background-image: url("/images/darkbtn.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

.nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:nth-child(4) {
  margin-right: 0;
}

.nav__link {
  font-size: 18px;
  line-height: 155%;
  text-decoration: none;
  color: var(--main-white-text-color);
  transition: color 0.4s ease, opacity 0.4s ease, text-decoration 0.4s ease;
}

.nav__link:hover {
  text-decoration: underline;
  color: var(--main-white-text-color);
  opacity: 0.5;
}

.site-logo {
  display: flex;
  order: -3;
}

.hero__nav-btn {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("/images/menu.svg");
  background-color: transparent;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 320px) {
  .site-logo {
    max-width: 130px;
    width: 100%;
    height: 28px;
  }
  .hero__navigation {
    display: none;
  }
}
@media only screen and (min-width: 375px) {
  .hero {
    background-position: calc(50% + 45px) calc(50% - 70px);
  }
  .hero__header {
    padding-bottom: 80px;
  }
  .site-logo {
    max-width: 160px;
    width: 100%;
    height: 32px;
  }
}
@media only screen and (min-width: 470px) {
  .hero {
    background-image: url("/images/herobglight.svg");
    background-size: 2600px 1100px;
    background-position: calc(50% + 70px) calc(50% - 305px);
  }
}
@media only screen and (min-width: 768px) {
  .hero__dark-btn {
    order: 3;
  }
  .hero__nav-btn {
    display: none;
  }
  .nav {
    display: block;
    margin-left: auto;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 900px) {
  .hero {
    background-position: calc(50% + 70px) calc(50% - 476px);
  }
}
@media only screen and (min-width: 1100px) {
  .hero__header {
    padding-bottom: 155px;
  }
}
.hero__text-wrapper {
  padding-bottom: 81px;
  text-align: center;
}

.hero__titlebox {
  max-width: 342px;
  width: 100%;
  margin: 0 auto;
}

.hero__title {
  font-family: var(--main-font-family);
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 42px;
  color: var(--main-white-text-color);
}

.hero__descbox {
  max-width: 322px;
  width: 100%;
  margin: 0 auto;
}

.hero__desc {
  margin-top: 0;
  font-size: 14px;
  line-height: 22px;
  color: var(--main-white-text-color);
  letter-spacing: 0.01em;
}

.hero__linkbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__text-btn {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 12px 0 12px 76px;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.01em;
  border: 1px solid var(--main-white-text-color);
  border-radius: 32px;
  color: var(--main-white-text-color);
  background-color: transparent;
  transition: border 0.4s ease, background-color 0.4s ease;
}

.hero__text-btn:hover {
  border: 1px solid var(--main-links-color);
  background-color: var(--main-links-color);
}

.hero__text-btn::after {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-right: 0;
  content: "";
  background-image: url("/images/pausa.svg");
  margin-left: 16px;
}

.hero__text-link {
  display: flex;
  justify-content: center;
  max-width: 342px;
  width: 100%;
  margin-bottom: 80px;
  padding: 18px 0;
  line-height: 155%;
  letter-spacing: 0.01em;
  text-decoration-line: none;
  color: var(--main-white-text-color);
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  background-color: var(--main-links-color);
  transition: border 0.4s ease, background-color 0.4s ease;
}

.hero__text-link:hover {
  border: 1px solid var(--main-white-text-color);
  background-color: transparent;
}

@media only screen and (min-width: 320px) {
  .hero__descbox {
    margin-bottom: 80px;
  }
  .hero__text-btn {
    max-width: 342px;
    width: 100%;
  }
  .hero__img {
    max-width: 336px;
    width: 100%;
    max-width: 598px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 375px) {
  .hero__title {
    font-size: 36px;
  }
  .hero__desc {
    font-size: 16px;
  }
  .hero__text-btn {
    text-align: center;
    padding-left: 96px;
  }
}
@media only screen and (min-width: 400px) {
  .hero__titlebox {
    max-width: 737px;
    width: 100%;
  }
  .hero__descbox {
    max-width: 470px;
    width: 100%;
    margin-bottom: 40px;
  }
  .hero__img {
    max-width: 977px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .hero__linkbox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero__text-btn {
    margin-right: 20px;
    margin-bottom: 100px;
  }
  .hero__text-link {
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 900px) {
  .hero__text-wrapper {
    padding-bottom: 203px;
  }
  .hero__title {
    font-size: 56px;
    line-height: 120%;
  }
  .hero__desc {
    font-size: 18px;
    line-height: 155%;
  }
  .hero__linkbox {
    flex-direction: row-reverse;
  }
  .hero__text-btn {
    margin-right: 0;
    max-width: 187px;
    width: 100%;
    padding: 12px 19px;
    border-radius: 32px;
  }
  .hero__text-link {
    display: block;
    margin-right: 33px;
    max-width: 187px;
    width: 100%;
    padding: 17px 19px;
    border-radius: 32px;
  }
}
.task {
  padding-bottom: 80px;
  text-align: center;
}

.task__title-wrap {
  max-width: 333px;
  width: 100%;
  margin: 0 auto;
}

.task__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--main-title-font-w);
  font-size: 30px;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.task__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: var(--main-black-text-color);
}

.task__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.task__item {
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border 0.4s ease, background-color 0.4s ease;
}

.task__item:hover {
  border: 1px solid var(--main-task-border-color);
  background-color: var(--main-task-border-color);
}

.task__item:hover .task__link {
  color: var(--main-links-color);
}

.task__img {
  max-width: 357px;
  width: 100%;
  height: 300px;
  margin: 0 auto 13px;
  border-radius: 8px;
}

.task__descbox {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.task__subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.task__desc {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 155%;
  letter-spacing: 0.02em;
}

.dark-mode .task__desc {
  color: #d6d6d6;
}

.task__linkbox {
  margin-bottom: 30px;
}

.task__link {
  line-height: 155%;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--main-black-title-color);
  transition: color 0.4s ease;
}

@media only screen and (min-width: 375px) {
  .task__title {
    font-size: 36px;
  }
  .task__text {
    font-size: 16px;
  }
  .task__subtitle {
    font-size: 32px;
  }
  .task__desc {
    font-size: 16px;
  }
  .task__link {
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  .task__title-wrap {
    margin-bottom: 80px;
  }
  .task__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .task__item {
    margin-bottom: 0;
  }
  .task__item:nth-child(3) {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 900px) {
  .task__title-wrap {
    max-width: 575px;
    width: 100%;
  }
  .task__title {
    margin-bottom: 16px;
    font-size: 48px;
  }
  .task__text {
    margin-bottom: 0;
  }
  .task__item {
    padding: 24px 24px 0 24px;
  }
}
@media only screen and (min-width: 1100px) {
  .task {
    padding-bottom: 100px;
  }
  .task__list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .task__item:nth-child(3) {
    margin: 0;
  }
}
.advance__list {
  text-align: center;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.advance__item {
  display: flex;
  flex-direction: column-reverse;
}

.advance__item:nth-child(1) {
  background-color: var(--main-opinion-bg-color);
}

.advance__textbox {
  max-width: 343px;
  width: 100%;
  margin: 0 auto;
}

.advance__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: var(--main-title-font-w);
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.advance__text {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black-text-color);
}

.advance__link {
  display: inline-block;
  margin-bottom: 66px;
  padding: 18px 52px;
  font-weight: var(--main-text-font-weight);
  line-height: 155%;
  letter-spacing: 0.01em;
  color: var(--main-links-color);
  text-decoration: none;
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  transition: color 0.4s ease, background-color 0.4s ease, border 0.4s ease;
}

.advance__link:hover {
  border: 1px solid var(--main-links-color);
  color: var(--main-white-text-color);
  background-color: var(--main-links-color);
}

.advance__img {
  max-width: 620px;
  width: 100%;
  max-height: 367px;
  margin: 0 auto;
}

@media only screen and (min-width: 375px) {
  .advance__title {
    font-size: 38px;
  }
  .advance__text {
    font-size: 15px;
  }
}
@media only screen and (min-width: 800px) {
  .advance__item {
    flex-direction: row;
  }
  .advance__item:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .advance__img {
    max-width: 500px;
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .advance__item {
    padding: 100px 0 50px;
  }
  .advance__textbox {
    padding: 60px 36px 50px 50px;
  }
  .advance__img {
    max-width: 620px;
    width: 100%;
    max-height: 398px;
  }
  .advance__textbox {
    max-width: 624px;
    width: 100%;
  }
}
@media only screen and (min-width: 1100px) {
  .advance__textbox {
    text-align: start;
  }
}
.opinion {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--main-opinion-bg-color);
}

.opinion__textbox {
  max-width: 342px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.opinion__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: var(--main-title-font-w);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.opinion__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 22px;
  color: var(--main-black-text-color);
}

.opinion__btn {
  position: relative;
  top: -236px;
  left: -28px;
  display: none;
  width: 54px;
  height: 54px;
  border: 1px solid var(--main-links-color);
  border-radius: 50%;
  background-color: transparent;
  background-image: url("/images/bigvectorred.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  transition: background-color 0.3s ease, background-image 0.3s ease, transform 0.3s ease;
}

.opinion__btn--second {
  position: relative;
  top: -237px;
  left: 379px;
  transform: rotate(360deg);
  transition: background-color 0.3s ease, background-image 0.3s ease, transform 0.3s ease;
}

.opinion__item-wrap:hover .opinion__btn {
  background-color: var(--main-links-color);
  background-image: url("/images/bigvector.svg");
  transform: rotate(360deg);
}

.opinion__item-wrap--second:hover .opinion__btn--second {
  background-color: var(--main-links-color);
  background-image: url("/images/bigvector.svg");
  transform: rotate(180deg);
}

.opinion__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.opinion__item {
  margin-bottom: 30px;
  padding: 31px;
  border: 1px solid #f7f5ff;
  border-radius: 8px;
  background-color: #f7f5ff;
  transition: border 0.4s ease;
}

.opinion__item:hover {
  border: 1px solid var(--main-links-color);
}

.dark-mode .opinion__desc {
  margin-top: 30px;
  margin-bottom: 31px;
  font-size: 13px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black-title-color);
}

.opinion__owner-textbox {
  position: relative;
  margin-left: 60px;
}

.opinion__owner {
  font-family: var(--main-another-font-family);
  font-weight: var(--main--roboto-font-weight);
  margin: 0;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.opinion__owner-textbox::before {
  position: absolute;
  top: -5px;
  left: -70px;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin-right: 0px;
  content: "";
  background-image: url("/images/simmons.png");
  background-repeat: no-repeat;
}

.opinion__owner-textbox--second::before {
  position: absolute;
  top: -5px;
  left: -70px;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin-right: 0px;
  content: "";
  background-image: url("/images/darrell.png");
  background-repeat: no-repeat;
}

.opinion__owner-textbox--three::before {
  position: absolute;
  top: -5px;
  left: -70px;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin-right: 0px;
  content: "";
  background-image: url("/images/henry.png");
  background-repeat: no-repeat;
}

.opinion__owner-desc {
  margin: 0;
  font-size: 15.3638px;
  line-height: 150%;
  color: var(--main-black-text-color);
}

.opinion__carusel-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion__carusel {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #f4dcdc;
}

.opinion__carusel--first {
  margin-left: 0;
  background-color: #ff007a;
}

@media only screen and (min-width: 320px) {
  .opinion__item {
    margin: 0 auto 30px;
  }
  .opinion__item::before {
    width: 112px;
    height: 19px;
    display: inline-block;
    margin-right: 15px;
    content: "";
    background-image: url("/images/stars.svg");
    background-repeat: no-repeat;
  }
  .opinion__item:nth-child(2) {
    display: none;
  }
  .opinion__item:nth-child(3) {
    display: none;
  }
}
@media only screen and (min-width: 375px) {
  .opinion__textbox {
    max-width: 622px;
    width: 100%;
  }
  .opinion__title {
    font-size: 36px;
  }
  .opinion__text {
    font-size: 16px;
  }
  .opinion__item {
    padding-right: 29px;
  }
  .opinion__desc {
    font-size: 16px;
  }
  .opinion__owner {
    font-size: 20px;
  }
}
@media only screen and (min-width: 500px) {
  .opinion__item {
    margin-bottom: 40px;
  }
  .opinion__item:nth-child(2) {
    display: block;
    position: relative;
  }
  .opinion__item:nth-child(3) {
    display: block;
    position: relative;
  }
}
@media only screen and (min-width: 600px) {
  .opinion__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .opinion__item {
    max-width: 405px;
    width: 100%;
  }
}
@media only screen and (min-width: 850px) {
  .opinion__textbox {
    margin-bottom: 80px;
  }
  .opinion__title {
    font-size: 48px;
    line-height: 120%;
  }
  .opinion__item {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1100px) {
  .opinion {
    padding-bottom: 109px;
  }
  .opinion__text {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1270px) {
  .opinion__btn {
    display: block;
  }
}
.pricing {
  padding-bottom: 40px;
}

.pricing__titlebox {
  max-width: 271px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.pricing__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--main-title-font-w);
  font-size: 34px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #000;
}

.pricing__desc {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.pricing__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pricing__item {
  max-width: 342px;
  width: 100%;
  margin-bottom: 30px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 17px;
  transition: border 0.4s ease;
}

.pricing__item:hover {
  border: 1px solid var(--main-links-color);
}

.pricing__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.pricing__amount {
  display: block;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
  color: var(--main-black-title-color);
}

.pricing__amount-second {
  display: block;
  margin-bottom: 39px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black-text-color);
}

.pricing__text-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 39px;
  text-align: start;
}

.pricing__items-text {
  margin-top: 0px;
  font-size: 13px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-black-text-color);
}

.pricing__items-text::before {
  width: 17px;
  height: 12px;
  display: inline-block;
  margin-right: 19px;
  content: "";
  background-image: url("/images/check.svg");
}

.pricing__link {
  display: block;
  max-width: 342px;
  width: 100%;
  padding: 16px 0;
  font-size: 15.6098px;
  line-height: 150%;
  color: var(--main-links-color);
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  text-align: center;
  text-decoration: none;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.pricing__item:hover .pricing__link {
  color: var(--main-white-text-color);
  background-color: var(--main-links-color);
}

@media only screen and (min-width: 375px) {
  .pricing__titlebox {
    max-width: 584px;
    width: 100%;
  }
  .pricing__title {
    font-size: 36px;
  }
  .pricing__desc {
    font-size: 16px;
  }
  .pricing__items-text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .pricing__list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pricing__item:nth-child(3) {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 900px) {
  .pricing {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .pricing__titlebox {
    margin-bottom: 80px;
  }
  .pricing__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 120%;
  }
  .pricing__item:nth-child(1) {
    margin-bottom: 30px;
  }
  .pricing__item:nth-child(3) {
    margin: 0;
  }
}
@media only screen and (min-width: 1066px) {
  .pricing__list {
    flex-wrap: nowrap;
  }
  .pricing__item {
    margin-bottom: 0;
    padding: 18px;
  }
  .pricing__item:nth-child(1) {
    margin-bottom: 0;
  }
}
.site-article {
  padding: 83px 0;
  text-align: center;
  background-color: #6b50ff;
}

.site-article__titlebox {
  max-width: 328px;
  width: 100%;
}

.site-article__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-white-text-color);
}

.site-article__textwrap {
  max-width: 338px;
  width: 100%;
}

.site-article__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-white-text-color);
}

.form {
  margin-bottom: 10px;
}

.form__user-name {
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 12px 0 12px 28px;
  border: 1px solid var(--main-white-text-color);
  border-radius: 32px;
}

.form__btn {
  padding: 12px 18px;
  color: var(--main-white-text-color);
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  background-color: var(--main-links-color);
  transition: border 0.4s ease, background-color 0.4s ease;
}

.form__btn:hover {
  border: 1px solid var(--main-white-text-color);
  background-color: transparent;
}

.site-article__linkbox {
  max-width: 341px;
  width: 100%;
}

.site-article__desc {
  margin: 0;
  font-size: 10px;
  line-height: 150%;
  color: var(--main-white-text-color);
}

.site-article__link {
  font-size: 10px;
  line-height: 150%;
  color: var(--main-white-text-color);
}

@media only screen and (min-width: 375px) {
  .site-article__titlebox {
    max-width: 1000px;
    width: 100%;
  }
  .site-article__title {
    font-size: 38px;
  }
  .site-article__text {
    font-size: 18px;
  }
  .site-article__textwrap {
    max-width: 1000px;
    width: 100%;
  }
  .site-article__desc {
    font-size: 12px;
  }
  .site-article__linkbox {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  .site-article__link {
    font-size: 12px;
  }
}
@media only screen and (min-width: 900px) {
  .site-article {
    padding: 112px 0;
  }
  .site-article__titlebox {
    margin: 0 auto;
  }
  .site-article__title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 120%;
  }
  .site-article__textwrap {
    margin: 0 auto;
  }
  .site-article__text {
    margin-bottom: 44px;
  }
  .form {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .form__user-name {
    max-width: 365px;
    width: 100%;
    margin-right: 16px;
    margin-bottom: 0;
  }
  .form__btn {
    max-width: 132px;
    width: 100%;
    padding: 16px 0;
  }
  .site-article__desc {
    font-size: 14px;
  }
}
.news {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--main-news-bg-color);
}

.news__wrapper {
  margin-bottom: 30px;
}

.news__title-wrap {
  max-width: 335px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.news__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: var(--main-title-font-w);
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.01em;
  color: var(--main-black-title-color);
}

.news__desc {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  color: var(--main-black-text-color);
}

.news__link {
  display: none;
  max-width: 115px;
  width: 100%;
  padding: 16px 0;
  font-size: 15px;
  line-height: 150%;
  text-decoration: none;
  color: var(--main-links-color);
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  transition: color 0.4s ease, border 0.4s ease, background-color 0.4s ease;
}

.news__link:hover {
  color: var(--main-white-text-color);
  border: 1px solid var(--main-links-color);
  background-color: var(--main-links-color);
}

.news__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.news__item {
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.news__item:hover {
  border: 1px solid var(--main-news-item-bg-color);
  background-color: var(--main-news-item-bg-color);
  box-shadow: 0px 4px 14px #cde3ef;
}

.dark-mode .news__item:hover {
  box-shadow: none;
}

.dark-mode .news__item-link::after {
  background-image: url("/images/vectorreddark.svg");
  background-repeat: no-repeat;
}

.dark-mode .news__item:hover .news__item-link::after {
  background-image: url("/images/vectorreddark.svg");
  background-repeat: no-repeat;
}

.news__img {
  max-width: 405px;
  width: 100%;
  height: 170px;
}

.news__text-wrapper {
  padding: 0 5px 30px 23px;
}

.news__type {
  display: inline-block;
  margin-top: 23px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 4px 8px;
  font-weight: var(--main-text-font-weight);
  font-size: 13.6585px;
  line-height: 150%;
  color: var(--main-black-title-color);
  border: 1px solid var(--main-social-media-bg-color);
  background-color: var(--main-social-media-bg-color);
}

.dark-mode .news__type {
  border: 1px solid transparent;
  background-color: transparent;
}

.dark-mode .news__item:hover .news__type {
  border: 1px solid #211f25;
  background-color: #211f25;
}

.news__time {
  display: inline;
  margin: 0;
  font-weight: var(--main-text-font-weight);
  font-size: 13.6585px;
  line-height: 150%;
  color: var(--main-black-text-color);
}

.news__subtitle-wrap {
  max-width: 314px;
  width: 100%;
}

.news__subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: var(--main-text-font-weight);
  font-size: 20px;
  line-height: 140%;
  color: var(--main-black-title-color);
}

.news__textbox {
  max-width: 262px;
  width: 100%;
}

.news__text {
  font-family: var(--main-another-font-family);
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 15px;
  line-height: 150%;
  color: var(--main-black-text-color);
}

.news__item-link {
  display: flex;
  align-items: center;
  font-size: 15.6098px;
  line-height: 150%;
  color: var(--main-links-color);
  text-decoration: none;
}

.news__item-link::after {
  width: 7px;
  height: 11px;
  display: inline-block;
  margin-right: 0;
  content: "";
  margin-left: 12px;
  background-image: url("/images/vectorblack.svg");
  background-repeat: no-repeat;
  transform: rotate(360deg);
  transition: background-image 0.4s ease;
}

.news__item:hover .news__item-link::after {
  background-image: url("/images/vectorred.svg");
}

@media only screen and (min-width: 375px) {
  .news__social-box {
    display: flex;
    justify-content: center;
    align-items: first baseline;
  }
  .news__desc {
    font-size: 17px;
    margin: 0 auto;
  }
  .news__img {
    height: 223px;
    margin: 0 auto;
  }
  .news__subtitle-wrap {
    margin: 0 auto;
    text-align: center;
  }
  .news__subtitle {
    font-size: 23px;
  }
  .news__textbox {
    max-width: 359px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .news__item-link {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .news__wrapper {
    margin-bottom: 80px;
  }
  .news__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .news__item {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 817px) {
  .news__item {
    margin-bottom: 40px;
  }
  .news__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 900px) {
  .news {
    padding-top: 120px;
  }
  .news__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .news__title-wrap {
    max-width: 759px;
    width: 100%;
    margin: 0;
    text-align: start;
  }
  .news__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 120%;
  }
  .news__link {
    display: flex;
    justify-content: center;
  }
  .news__item:nth-child(3) {
    margin-bottom: 40px;
  }
}
.site-footer {
  padding: 80px 0 30px;
  background-color: var(--main-footer-bg-color);
}

.site-footer__wrapper {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--main-white-text-color);
}

.site-footer__navbox {
  display: flex;
  align-items: center;
}

.site-footer__nav-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 32px;
}

.foot-nav--fisrt {
  margin-right: 109px;
}

.foot-nav__link {
  display: inline-block;
  margin-bottom: 14px;
  font-weight: var(--main-text-font-weight);
  line-height: 150%;
  text-decoration: none;
  color: var(--main-white-text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}

.foot-nav__link:hover {
  color: var(--main-white-text-color);
  opacity: 0.5;
}

.foot-form__join {
  display: block;
  font-weight: var(--main-title-font-w);
  font-size: 16px;
  line-height: 150%;
  color: var(--main-white-text-color);
  border: none;
  background-color: transparent;
}

.foot-form__email {
  margin-bottom: 20px;
  padding: 12px 28px;
  border: 1px solid var(--main-white-text-color);
  border-radius: 32px;
}

.foot-form__email::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}

.foot-form__link {
  padding: 12px 18px;
  text-decoration: none;
  color: var(--main-white-text-color);
  border: 1px solid var(--main-links-color);
  border-radius: 32px;
  background-color: var(--main-links-color);
  transition: border 0.4s ease, background-color 0.4s ease;
}

.foot-form__link:hover {
  border: 1px solid var(--main-white-text-color);
  background-color: transparent;
}

.site-footer__link-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 40px;
}

.list__link {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 150%;
  color: var(--main-white-text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}

.list__link:hover {
  color: var(--main-white-text-color);
  opacity: 0.5;
}

.foot-form__text {
  margin-top: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--main-white-text-color);
}

.foot-form__text-link {
  font-size: 16px;
  line-height: 150%;
  color: var(--main-white-text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}

.foot-form__text-link:hover {
  color: var(--main-white-text-color);
  opacity: 0.5;
}

.site-footer__text {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--main-white-text-color);
}

@media only screen and (min-width: 320px) {
  .foot-form__join {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .foot-form__email {
    display: block;
    margin: 0 auto 20px;
  }
  .foot-form__linkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .foot-form__text {
    display: none;
  }
}
@media only screen and (min-width: 375px) {
  .foot-form__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .foot-form__join {
    margin: 0;
    margin-bottom: 10px;
  }
  .foot-form__email {
    max-width: 222px;
    width: 100%;
    margin: 0;
    margin-right: 16px;
    padding: 12px 0 12px 28px;
  }
  .foot-form__linkbox {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 380px) {
  .site-logo-footer {
    margin-bottom: 32px;
  }
  .site-footer__navbox {
    margin-bottom: 40px;
  }
  .foot-nav {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 400px) {
  .site-logo-footer {
    margin: 0 auto 40px;
  }
  .site-footer__navbox {
    margin-bottom: 30px;
  }
  .foot-nav {
    margin: 0 auto;
  }
  .foot-form__join {
    margin: 0 auto 30px;
  }
}
@media only screen and (min-width: 550px) {
  .site-footer__navbox {
    display: flex;
    justify-content: center;
  }
  .foot-nav--fisrt {
    margin: 0;
  }
  .foot-nav {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .foot-nav__item {
    margin-right: 32px;
  }
  .site-footer__linkbox {
    padding-bottom: 100px;
  }
  .site-footer__link-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media only screen and (min-width: 900px) {
  .site-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .site-logo-footer {
    margin-left: 0;
    margin-bottom: 32px;
  }
  .site-footer__navbox {
    margin: 0;
    display: flex;
  }
  .foot-nav {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .foot-nav__item:nth-child(4) {
    margin-right: 0;
  }
  .foot-form__join {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
  }
  .foot-form__linkbox {
    margin-bottom: 0;
  }
  .foot-form__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .foot-form__email {
    max-width: 241px;
    width: 100%;
    margin: 0;
  }
  .foot-form__link {
    display: flex;
    justify-content: center;
    max-width: 127px;
    width: 100%;
    padding: 16px 24px;
    border: none;
  }
  .foot-form {
    margin: 0;
  }
  .foot-form__text {
    display: block;
  }
  .site-footer__linkbox {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
  }
  .site-footer__link-list {
    margin-bottom: 0;
  }
  .list-item {
    margin-right: 24px;
  }
  .list-item:nth-child(4) {
    margin-right: 0;
  }
}/*# sourceMappingURL=main.css.map */