:root {
  --main-font-family: "Nunito";
  --main-title-font-w: 700;
  --main-text-font-weight: 600;
  --main-another-font-family: "Roboto";
  --main--roboto-font-weight: 500;
  --main-black-title-color: #211f25;
  --main-white-text-color: #fff;
  --main-black-text-color: #3d3a41;
  --main-links-color: #ff007a;
  --main-news-bg-color: #f4fbff;
  --main-social-media-bg-color: #f4f4f4;
  --main-task-border-color: #f7f5ff;
  --main-opinion-bg-color: #fcfbff;
  --main-body-color: #fff;
  --main-footer-bg-color: #211f25;
  --main-news-item-bg-color: #fff;
}